In [145]:
from pandas import read_csv
from pandas import DataFrame, Series
from pandas import DataFrame
from scipy.stats import pearsonr
import re

In [155]:
data = read_csv('titanic.csv', index_col='PassengerId')
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Ответ на вопрос №1

In [135]:
sex_count = data['Sex'].value_counts()
male_count = sex_count['male']
female_count = sex_count['female']
male_count, female_count

(577, 314)

Ответ на вопрос №2

In [16]:
survived_count = data['Survived'].value_counts()
survived_count_1 = survived_count[1]
hundred_percent = data['Survived'].count()
x_percent_survived = (survived_count_1*100)/hundred_percent
x_percent_survived = round(x_percent, 2)
x_percent_survived

38.38

Ответ на вопрос №3

In [21]:
embarked_count = data['Embarked'].value_counts()
embarked_C = embarked_count['C']
x_percent_embarked = (embarked_C*100)/hundred_percent
round(x_percent_embarked, 2)

18.86

Ответ на вопрос №4

In [26]:
age_mean = data['Age'].mean()
age_median = data['Age'].median()
age_mean = round(age_mean, 2)
age_median = round(age_median, 2)
age_mean, age_median

(29.7, 28.0)

Ответ на вопрос №5

In [29]:
sib_sp = data['SibSp']
parch = data['Parch']
kk_pear, p = pearsonr(sib_sp, parch)
round(kk_pear, 2)

0.41

Вывод о степени взаимосвязи:  т.к  0.4 < 0.5 (абсолютная величина коэфф-та корреляции Пирсона), то можно сделать вывод, что взаимосвязь очень слабая.

Ответ на вопрс №6

In [150]:
name_girls = []
for index, row in data.iterrows():
    name = row["Name"]
    result = re.findall(r'\, (\w+\.)', name)

    try:
        if result == []:
            name_girls_string = ''.join(re.findall(r'(?<=of\ \().*?(?=\ )', name))
            name_girls.append(name_girls_string)

        elif result[0] == 'Mrs.':
            name_girls_string = ''.join(re.findall(r'\((\w+)', name))
            if name_girls_string == '':
                name_girls_string = ''.join(re.findall(r'\ Mrs\. (\w+)', name))
                name_girls.append(name_girls_string)
            else:
                name_girls.append(name_girls_string)

        elif result[0] == 'Miss.':
            name_girls_string = ''.join(re.findall(r'\ Miss\. (\w+).*', name))

            if name_girls_string == '':
                name_girls_string = ''.join(re.findall(r'\ Miss\. \((\w+).*', name))
                name_girls.append(name_girls_string)
            else:
                name_girls.append(name_girls_string)
    except:
        print(result)

data_name = DataFrame(data=name_girls)
freq_name = Series.value_counts(data_name[0])
freq_name[:5]

Anna         15
Mary         14
Elizabeth    11
Margaret     10
Alice         6
Name: 0, dtype: int64

In [154]:
freq_name_max = data_name.mode()
freq_name_max

      0
0  Anna